USE [db_cobertura_movil]
GO
/****** Objeto: Table [dbo].[dim_operador] Fecha de script: 5/09/2026 5:13:35 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_operador](
	[id_operador] [int] IDENTITY(1,1) NOT NULL,
	[nombre_operador] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_operador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[dim_tecnologia] Fecha de script: 5/09/2026 5:13:35 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_tecnologia](
	[id_tecnologia] [int] IDENTITY(1,1) NOT NULL,
	[generacion] [varchar](10) NOT NULL,
	[tecnologia_detalle] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_tecnologia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[dim_tiempo] Fecha de script: 5/09/2026 5:13:35 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_tiempo](
	[id_tiempo] [int] IDENTITY(1,1) NOT NULL,
	[fecha] [date] NOT NULL,
	[anio] [int] NOT NULL,
	[trimestre] [int] NOT NULL,
	[mes] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_tiempo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[dim_ubicacion] Fecha de script: 5/09/2026 5:13:35 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_ubicacion](
	[id_ubicacion] [int] IDENTITY(1,1) NOT NULL,
	[codigo_divipola] [varchar](10) NOT NULL,
	[municipio] [varchar](100) NOT NULL,
	[tipo_centro_poblado] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_ubicacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[fact_cobertura_movil] Fecha de script: 5/09/2026 5:13:35 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fact_cobertura_movil](
	[id_cobertura] [bigint] IDENTITY(1,1) NOT NULL,
	[id_ubicacion] [int] NULL,
	[id_operador] [int] NULL,
	[id_tecnologia] [int] NULL,
	[id_tiempo] [int] NULL,
	[cobertura_activa] [bit] NOT NULL,
	[num_sitios_reportados] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_cobertura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__dim_oper__653263CFC0568A53] Fecha de script: 5/09/2026 5:13:36 p. m. ******/
ALTER TABLE [dbo].[dim_operador] ADD UNIQUE NONCLUSTERED 
(
	[nombre_operador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[fact_cobertura_movil] ADD  DEFAULT ((1)) FOR [cobertura_activa]
GO
ALTER TABLE [dbo].[fact_cobertura_movil] ADD  DEFAULT ((1)) FOR [num_sitios_reportados]
GO
ALTER TABLE [dbo].[fact_cobertura_movil]  WITH CHECK ADD FOREIGN KEY([id_operador])
REFERENCES [dbo].[dim_operador] ([id_operador])
GO
ALTER TABLE [dbo].[fact_cobertura_movil]  WITH CHECK ADD FOREIGN KEY([id_tecnologia])
REFERENCES [dbo].[dim_tecnologia] ([id_tecnologia])
GO
ALTER TABLE [dbo].[fact_cobertura_movil]  WITH CHECK ADD FOREIGN KEY([id_tiempo])
REFERENCES [dbo].[dim_tiempo] ([id_tiempo])
GO
ALTER TABLE [dbo].[fact_cobertura_movil]  WITH CHECK ADD FOREIGN KEY([id_ubicacion])
REFERENCES [dbo].[dim_ubicacion] ([id_ubicacion])
GO
